
.head{
    height:130px;
    width: 80%;
    background-color: rgb(124, 128, 128);
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
}
.head div{
    height: 100px;
    width: 100px;
    /* border: 1px solid rgb(128, 40, 49); */
}
.name{
    flex-grow: 1;
    text-align: center;
    padding-top: 2%;
    color: rgb(195, 23, 32);
}
img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
.logo{
    border-radius: 50px;
}
body{
    margin-left: 15%;
     /* margin-to: 10%;  */
}
.nav-1{
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
}
.nav-1 div{
    margin: 10px;
}
a{
    text-decoration: none;
}
.home{
	width:80%;
	height:auto;
	display:flex;
	 
	}
	.sub_home{
        flex-grow: 2;
        flex-shrink: inherit;
    }
	.home img{
	width:230px;
	height:230px;
	border-radius:40px;
	margin:12px;
	}
      
     .course{
        height: auto;
        width: 80%;
        display: flex;
        /* border:1px solid red; */
     }
     .course div{
        /* border: 1px solid red; */
        width: 80%;
        align-content: space-around;
        justify-content: space-around;
        margin-left: 10px;
     }
     .course .sub_course{
        margin-left: 5%;
        /* border: 1px solid red; */
     }
    #regis{
        height: auto;
        width: 80%;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;
     }
    .sub_regis{
        height: auto;
        width: 35%;
        margin-left: 5%;
        /* border: 1px solid red; */
     }
      #REGISTRATION{
        height: auto;
        width: auto;
        border-radius: 200%;
        text-align: center;
       }
       html{
        scroll-behavior: smooth;
       }
       body{
        background-image: url("Background-1-802x1080.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        /* background-color: rgb(44, 41, 41); */
       }
       .sss{
        background-color: rgb(91, 161, 82);
       }
       marquee{
        color: rgb(37, 30, 179);
       }
       .direction{
        height: auto;
        width: 80%;
       }
       .dir{
        color: rgb(249, 13, 13);
       }
       .textimg{
        width: 70px;
        height: 20px;
       }
       #web{
        background-color: rgb(19, 208, 94);
        color: red;
        width: 200px;
        font-size: 20px;
       }